$first-segment-height: px2rem(900);

.landing-background {
  background: linear-gradient(to top left, #003cb6 0%, rgba(0, 60, 182, 0) 100%),
  url("../images/1.jpg") no-repeat left top;
  height: $first-segment-height;

  .navbar {
    height: px2rem(100);
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    border-bottom: 1px solid #BBBBBB;
    transition: 500ms ease;

    &.scrolled {
      background: rgba(0, 60, 182, 0.9) !important;
    }

    .icon-logo:before {
      color: white;

    }

    .navbar-nav {
      margin-right: px2rem(34);

      .nav-link {
        display: inline-block;
        position: relative;
        padding: px2rem(20) 0;
        margin: 0 px2rem(8);

        &:hover {
          color: #ffcb05;

        }

        &.active {
          color: #ffcb05;
        }

        &.active::before {
          height: 5px;
        }

      }

      .nav-link::before {
        transition: 300ms;
        height: 5px;
        content: "";
        position: absolute;
        background-color: #ffcb05;

      }

      .nav-link-grow-up::before {
        height: 0%;
        width: 100%;
        bottom: px2rem(-17.6);

      }

      .nav-link-grow-up:hover::before {
        height: 5px;

      }

    }

    .call-info {
      font-size: px2rem(19);
      text-decoration: none;

      .icon-headset {
        font-size: px2rem(23);
      }
    }
  }

  .description {
    height: px2rem(600);

    .description-text {

      > h1 {
        font-size: px2rem(40);
        font-weight: bold;
        line-height: px2rem(55);
      }

      > h2 {
        font-size: px2rem(20);
      }

      > p {
        font-size: px2rem(16);
        line-height: px2rem(36);
        width: px2rem(465);
      }


    }
  }

  .categories {
    height: px2rem(120);
    margin-bottom: px2rem(80);

    .category-item {
      height: px2rem(140);
      width: px2rem(180);
      text-align: center;
      color: white;
      text-decoration: none;
      border-left: solid px2rem(1) rgba(255, 255, 255, 0.1);
      border-radius: px2rem(5);

      &:last-of-type {
        border-left: none;
      }

      .category-icon {
        display: block;
        font-size: px2rem(40);
        margin-top: px2rem(27);
        margin-bottom: px2rem(23);
      }

      .category-text {
        font-size: px2rem(18);
      }

      &.active {
        background-color: rgba(255, 255, 255, 0.1);
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.15);
      }

    }
  }

}