.landing-background {
  background-image: url("../images/1.jpg");
  height: px2rem(900);
  .navbar {
    height: px2rem(100);

  }

  .description {
    height: px2rem(600);
  }
  .categories {
    height: px2rem(120);
    margin-bottom: px2rem(80);
  }
}