@import "fonts";
@import "functions";
@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "landing";
@import "icomoon";


body {
  text-align: right;
  font-family: Vazir, serif;
  position: relative;
}


